<!-- <div>
    <div class="container text-center" style="text-align: center; margin-left: 100px;">
      <img class="img-fluid" src="assets/login.png" style="width: 115px;" />
    </div>
    <h2 class="text-center">{{title}}</h2>
  </div> -->
<!-- <div class="container" style="width: 50%;">
    <form #userForm="ngForm" (ngSubmit)="getUserFormData(userForm.value)">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>User Id</strong></td>
            <td scope="col"><input type="text" class="form-control" id="userId" placeholder="User Id" name="id"
                ngModel />
            </td>
          </tr>
          <tr>
            <td scope="col"><strong>Password:</strong></td>
            <td><input type="password" class="form-control" id="pass" placeholder="Password" name="password" ngModel />
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center"><button id="submit" class="btn btn-danger">Login</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div> -->
<div id="main">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <div class="shapeBackground">
    <form #userForm="ngForm" (ngSubmit)="getUserFormData(userForm.value)">
      <h3>Login Here</h3>

      <label for="username">User Id</label>
      <input type="text" class="form-control" id="userId" placeholder="User Id" name="id" placeholder="Email or Phone"
        id="username" ngModel />

      <label for="password">Password</label>
      <input type="password" class="form-control" id="pass" placeholder="Password" name="password"
        placeholder="Password" id="password" ngModel />

      <button id="submit" style="color: black;">Log In</button>
      <div><br>
        Not a registered user?<br> Click
        <a style="color: #f09819;" href="/customer-registration"> here</a>
        to register
      </div>
      <!-- <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
      <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div> -->
    </form>
  </div>
</div>